.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search__box {
  width: 90%;
  max-width: 250px;
  position: relative;
  border-bottom: 1px solid #ffe81f;
}

.search__input {
  border: none;
  width: 90%;
  background-color: black;
  color: white;
}

.search__input:focus {
  outline: none;
}

.search__icon {
  transform: translateY(6px);
  cursor: pointer;
}

@media screen and (max-width: 280px) {
  .search__icon {
    display: none;
  }
}

.history {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ffe81f;
  border-bottom: none;
  border-top: none;
  display: none;
}

.history.show {
  display: block;
}

.history__item {
  padding: 10px;
  cursor: pointer;
  background-color: black;
  border-bottom: 1px solid #ffe81f;
  color: white;
}

.history__item:first-child {
  border-top: 1px solid #ffe81f;
}
